{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} title from base.html {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% comment %}
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% endcomment %}
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>

        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
                This is content from base.html
        {% endblock %}
    </div>

</body>
</html>
