{% extends "learninglogs/base.html" %}
{% block title %} Title from index.html {% endblock %}

{% block content %}


<h1> Topics </h1>

<ul>
{% for topic in topics %}
    <li>
        <a href="{% url 'learninglogs:topic_entries' pk=topic.pk %}">{{ topic }}</a>
        {% comment %}
        {% endcomment %}
        <i> - created {{ topic.date_added }}  </i>
        <ul>
        {% for entry in entries %}
            {% if entry.topic == topic %}
                <li>
                        {{ entry }}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </li>
{% endfor %}
<ul>

{% comment %}
{% endcomment %}


{% endblock %}



